@font-face {
  font-family: "Poppins";
  src: url("/generated-fonts/Poppins-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/generated-fonts/Poppins-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
